@import '../../styles/mixins.scss';

.gift-details{
    width: 100%;
    @include center-flex;
    section{
        @include center-flex;
        img{
            width: 6rem;
            height: auto;
            margin-bottom: 1rem;
        }
        h1{
            font-size: 2rem;
            margin: 0.5rem 0;
        }
        p{
            margin: 0;
            font-size: 1.2rem;
        }
    }
}