@import '../../styles/mixins.scss';

header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    @include page-padding;
    &.visible {
        transform: translateY(0);
        opacity: 1;
    }
    &.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }
    a{
        width: 10rem;
        height: max-content;
        .logo{
            width: 10rem;
            height: max-content;
            img{
                width: 10rem;
                height: auto;
            }
        }
    }
    h1{
        cursor: default;
        color: white;
        font-weight: 200;
    }
}