.gift-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    position: relative;
    img {
        width: 3rem;
        height: auto;
        transition: transform 0.2s;
    }
    .tooltip{
        display: none;
        color: black;
    }
    &:hover{
        img {
            transform: scale(1.2);
        }
    }
    &:hover .tooltip{
        display: flex;
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%); 
        width: max-content;
        font-size: 1.1rem;
    }
}